<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	 <bean class="com.springcore.beans.B" name="bref">
	    <property name="y" value="20" />
	 </bean>
	 
	 <bean name ="aref" class="com.springcore.beans.A" p:x="56" p:b-ref="bref" />
	 
	 <!-- 
	    <bean class="com.springcore.beans.A" name="aref" >
	    <property name="x" value="50" />
	    <property name="b" ref="bref" />
	     
	    <property name="b">
	      <ref bean="bref"/>
	    </property>
	    
	 </bean>
	
	 --> 
	 
	
</beans>